
            <div class="row">
                <div class="col-lg-12">
                    
                     <img src="/assets/so.jpg" class="img-responsive"> 
                     <div class="item-page">
					
		<div class="page-header">
		<h2>
				VISI &amp; MISI		</h2>
			
	</div>
	
	
								<p class="MsoNormal" style="mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; line-height: 14.8pt; mso-outline-level: 2;"><strong><span style="font-size: 13pt; font-family: Arial, sans-serif;">Visi Dispsiad</span></strong></p>
<p class="MsoNormal" style="mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; line-height: 14.8pt; mso-outline-level: 2;"><span style="font-size: 13pt; font-family: Arial, sans-serif;">" Menjadi Pusat Unggulan Dalam Terapan Ilmu Perilaku, Pengembangan Sumber Daya Manusia, dan Layanan Jasa Psikologi yang Profesional, Efektif, Efisien, Modern, Berintegritas dan Berwawasan Internasional "</span></p>
<p class="MsoNormal" style="mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; line-height: 14.8pt; mso-outline-level: 2;"><span style="font-size: 13pt; font-family: Arial, sans-serif;"><br> </span><strong><span style="font-size: 13pt; font-family: Arial, sans-serif;">Misi Dispsiad</span></strong></p>
<p class="MsoNormal" style="mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; margin-left: 22.5pt; text-indent: -.25in; line-height: 14.8pt; mso-outline-level: 2; mso-list: l0 level1 lfo1;"><!--[if !supportLists]--><span style="font-size: 10pt; font-family: Symbol;">·<span style="font-stretch: normal; font-size: 7pt; line-height: normal; font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><!--[endif]--><span style="font-size: 13pt; font-family: Arial, sans-serif;">Membentuk dan Mengembangkan Prajurit Psikologi yang Profesional dan Berintegritas Mewujudkan Kesiapan Serta Kemampuan Prajurit Maupun Satuan TNI-AD dalam Melaksanakan Tugas Melalui Penyelenggaraan Pembinaan Fungsi Psikologi</span></p>
<p class="MsoNormal" style="mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; margin-left: 22.5pt; text-indent: -.25in; line-height: 14.8pt; mso-outline-level: 2; mso-list: l0 level1 lfo1;"><!--[if !supportLists]--><span style="font-size: 10pt; font-family: Symbol;">·<span style="font-stretch: normal; font-size: 7pt; line-height: normal; font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><!--[endif]--><span style="font-size: 13pt; font-family: Arial, sans-serif;">Menyelenggarakan Pengembangan Metoda dan Alat / Material Khusus Psikologi Secara Terus Menerus dan Berkesinambungan Sesuai Tuntutan Tugas, Perkembangan Ilmu dan Teknologi Terkini Serta Standar Internasional yang Berlaku.</span></p>
                </div>
                <!-- /.col-lg-12 -->
            </div>