<%= bootstrap_form_for(@siswa, layout: :horizontal, label_col: "col-sm-4", control_col: "col-sm-8") do |f| %>
  <div class="col-md-6">
    <%= f.text_field :id_csiswa, disabled: true, label: {text: "ID Calon Siswa"} %>
    </div>
    <div class="col-md-6">
    <%= f.select :minat_kec, options_for_select(Pembobotan.pluck(:pencabangan).uniq), {label: {text: "Minat Kecabangan"}}, disabled: action_name.eql?('show') %>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-6">
    <%= f.text_field :nama_lengkap, disabled: action_name.eql?('show') %>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-6">
    <%= f.text_field :tempat_lahir, disabled: action_name.eql?('show') %>
    </div>
    <div class="col-md-6">
    <%= f.text_field :tanggal_lahir, class: "datepicker", icon: "calendar", disabled: action_name.eql?('show') %>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-6">
    <%= f.number_field :tg_badan, label: {text: "Tinggi Badan"}, placeholder: "Cm", within: 1..999, disabled: action_name.eql?('show') %>
    </div>
    <div class="col-md-6">
    <%= f.number_field :b_badan, label: {text: "Berat Badan"}, placeholder: "Kg", disabled: action_name.eql?('show') %>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-6">
    <%= f.select :agama, ["Islam", "Kristen", "Hindu", "Budha", "Lainnya"].collect{|x| x}, {}, disabled: action_name.eql?('show') %>        
    </div>
    <div class="clearfix"></div>
    <div class="col-md-6">
    <%= f.select :pendidikan, options_for_select(User::PENDIDIKANLIST), {}, disabled: action_name.eql?('show') %>    
    </div>
    
    <div class="clearfix"></div>
    <% if action_name.eql?('show') %>
        <%= link_to 'Kembali', siswas_path, class: "btn btn-default" %>
    <% else %>
    <div class="col-md-6 col-md-offset-6">
      <%= f.submit "Simpan", class: "btn btn-primary" %>
      <%= link_to 'Reset', "", class: "btn btn-default" %>
      <%= link_to 'Kembali', siswas_path, class: "btn btn-default" %>
    </div>
    <% end %>
  </div>
<% end %>

<% content_for :bottom_assets do %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.css">
<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js' %>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.datepicker').datepicker({ format: 'dd-mm-yyyy', autoSize:true });
      $("input[type='number']").keydown ( function (e) {
          if( e.keyCode != 8 ) {
              if (checkMaxLength ($(this).val(), 3) || !(e.keyCode >= 48 && e.keyCode  <= 57)) {
                  e.preventDefault();
                  e.stopPropagation();
              }
          }
      });

      $("input[type='text']").keydown ( function (e) {
          if( e.keyCode != 8 || e.keyCode != 32) {
              if ((e.keyCode >= 48 && e.keyCode  <= 57)) {
                  e.preventDefault();
                  e.stopPropagation();
              }
          }
      });

      function checkMaxLength (text, max) {
          return (text.length >= max);
      }
    });  
  </script>
<% end %>