   <select class="form-control" onchange="changeHasilTipe()">
        <option>- SILAKAN PILIH PENCABANGAN -</option>
        <% Pembobotan.pluck(:pencabangan).uniq.each do |pemb| %>
          <option value="<%= pemb %>" <%= "selected" if pemb.eql?(params[:pencabangan]) %> ><%= pemb %></option>
        <% end %>
      </select>
      <h3>Kecerdasan</h3>
      <table class="table table-bordered table-stripped">
        <tr>
          <th>Pemahaman</th>
          <th>Mengingat</th>
          <th>Analisa</th>
          <th>Konstruktif</th>
          </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          </tr>
        <tr>
        <th>Mengolah Angka</th>
          <th>Aritmatika</th>
          <th>Orientasi Ruang</th>
          <th>Verbal</th>
        </tr>
        <tr>  
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        </tr>
        <tr>
        <th>Estimasi</th>
          <th>Tehnik Mekanik</th>
          <th>Tehnik Elektronik</th>
          <th>Wawasan</th>
        </tr>

          
          
          
        <tr>  
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
      <h3>Sikap Kerja</h3>
      <table class="table table-bordered table-stripped">
        <tr>
          <th>Inisiatif</th>
          <th>Kreatif</th>
          <th>Perencanaan</th>
          <th>Energi</th>
          
          </tr>
        <tr>
          <td></td>

          <td></td>

          <td></td>
          <td></td>
          
          </tr>
        <tr>
          <th>Kecepatan</th>
          <th>Ketelitian</th>
          <th>Ketekunan</th>
          <th>Keuletan</th>
           
        </tr>
        <tr>  
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          
        </tr>
        <tr>
          <th>Konsentrasi</th>   
          <th>Daya Tahan</th>
          <th>Kepemimpinan</th>
          <th>Kerjasama</th>
        </tr>
          
        <tr>  
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th colspan="4">Toleransi Terhadap Stress</th>
        </tr>
          
        <tr>  
          <td  colspan="4"></td>
        </tr>

      </table>
      <h3>Kehidupan Perasaan</h3>
      <table class="table table-bordered table-stripped">
        <tr>
          <th>Kepekaan</th>
          <th>Penempatan Diri</th>
          <th>Kepercayaan Diri</th>
          <th>Kemandirian</th>
          </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          </tr>
        <tr>
          <th>Persuasif</th>
          <th>Agresivitas</th>
          <th>Pengelolaan Dorongan</th>
          <th>Pengelolaan Emosi</th>
        </tr>
        <tr>    
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>  
      </table>
      <h3>Minat</h3>
      <table class="table table-bordered table-stripped">
        <tr>
          <th>Alam Terbuka</th>
          <th>Seni</th>
          <th>Pelayanan Sosial</th>
          <th>Klerical</th>
          </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          
          </tr>
        <tr>
        <th>Teknik Mekanik</th>
          <th>Hitungan</th>
          <th>Kepustakaan</th>
          <th>Ilmiah Sain</th>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          
        </tr>
      </table>
    