   <select class="form-control" onchange="changeHasilTipe()">
        <option>- SILAKAN PILIH PENCABANGAN -</option>
        <% Pembobotan.pluck(:pencabangan).uniq.each do |pemb| %>
          <option value="<%= pemb %>" <%= "selected" if pemb.eql?(params[:pencabangan]) %> ><%= pemb %></option>
        <% end %>
      </select>
      <h3>Kecerdasan</h3>
      <table class="table table-bordered table-stripped">
        <tr>
          <th>Pemahaman</th>
          <th>Mengingat</th>
          <th>Analisa</th>
          <th>Konstruktif</th>
          </tr>
        <tr>
          <td><%= '%.3g' % @kecerdasan[0] %></td>
          <td><%= '%.3g' % @kecerdasan[1] %></td>
          <td><%= '%.3g' % @kecerdasan[2] %></td>
          <td><%= '%.3g' % @kecerdasan[3] %></td>
          </tr>
        <tr>
        <th>Mengolah Angka</th>
          <th>Aritmatika</th>
          <th>Orientasi Ruang</th>
          <th>Verbal</th>
        </tr>
        <tr>  
        <td><%= '%.3g' % @kecerdasan[4] %></td>
          <td><%= '%.3g' % @kecerdasan[5] %></td>
          <td><%= '%.3g' % @kecerdasan[6] %></td>
          <td><%= '%.3g' % @kecerdasan[7] %></td>
        </tr>
        <tr>
        <th>Estimasi</th>
          <th>Tehnik Mekanik</th>
          <th>Tehnik Elektronik</th>
          <th>Wawasan</th>
        </tr>

          
          
          
        <tr>  
          <td><%= '%.3g' % @kecerdasan[8] %></td>
          <td><%= '%.3g' % @kecerdasan[9] %></td>
          <td><%= '%.3g' % @kecerdasan[10] %></td>
          <td><%= '%.3g' % @kecerdasan[11] %></td>
        </tr>
      </table>
      <h3>Sikap Kerja</h3>
      <table class="table table-bordered table-stripped">
        <tr>
          <th>Inisiatif</th>
          <th>Kreatif</th>
          <th>Perencanaan</th>
          <th>Energi</th>
          
          </tr>
        <tr>
          <td><%= '%.3g' % @sikap_kerja[0] %></td>
          <td><%= '%.3g' % @sikap_kerja[1] %></td>
          <td><%= '%.3g' % @sikap_kerja[2] %></td>
          <td><%= '%.3g' % @sikap_kerja[3] %></td>
          
          </tr>
        <tr>
          <th>Kecepatan</th>
          <th>Ketelitian</th>
          <th>Ketekunan</th>
          <th>Keuletan</th>
           
        </tr>
        <tr>  
          <td><%= '%.3g' % @sikap_kerja[4] %></td>
          <td><%= '%.3g' % @sikap_kerja[5] %></td>
          <td><%= '%.3g' % @sikap_kerja[6] %></td>
          <td><%= '%.3g' % @sikap_kerja[7] %></td>
          
        </tr>
        <tr>
          <th>Konsentrasi</th>   
          <th>Daya Tahan</th>
          <th>Kepemimpinan</th>
          <th>Kerjasama</th>
        </tr>
          
        <tr>  
          <td><%= '%.3g' % @sikap_kerja[8] %></td>
          <td><%= '%.3g' % @sikap_kerja[9] %></td>
          <td><%= '%.3g' % @sikap_kerja[10] %></td>
          <td><%= '%.3g' % @sikap_kerja[11] %></td>
        </tr>
        <tr>
          <th colspan="4">Toleransi Terhadap Stress</th>
        </tr>
          
        <tr>  
          <td  colspan="4"><%= '%.3g' % @sikap_kerja[12] %></td>
        </tr>

      </table>
      <h3>Kehidupan Perasaan</h3>
      <table class="table table-bordered table-stripped">
        <tr>
          <th>Kepekaan</th>
          <th>Penempatan Diri</th>
          <th>Kepercayaan Diri</th>
          <th>Kemandirian</th>
          </tr>
        <tr>
          <td><%= '%.3g' % @kehidupan_perasaan[0] %></td>
          <td><%= '%.3g' % @kehidupan_perasaan[1] %></td>
          <td><%= '%.3g' % @kehidupan_perasaan[2] %></td>
          <td><%= '%.3g' % @kehidupan_perasaan[3] %></td>          
          </tr>
        <tr>
          <th>Persuasif</th>
          <th>Agresivitas</th>
          <th>Pengelolaan Dorongan</th>
          <th>Pengelolaan Emosi</th>
        </tr>
        <tr>    
          <td><%= '%.3g' % @kehidupan_perasaan[4] %></td>
          <td><%= '%.3g' % @kehidupan_perasaan[5] %></td>
          <td><%= '%.3g' % @kehidupan_perasaan[6] %></td>
          <td><%= '%.3g' % @kehidupan_perasaan[7] %></td>          
        </tr>  
      </table>
      <h3>Minat</h3>
      <table class="table table-bordered table-stripped">
        <tr>
          <th>Alam Terbuka</th>
          <th>Seni</th>
          <th>Pelayanan Sosial</th>
          <th>Klerical</th>
          </tr>
        <tr>
          <td><%= '%.3g' % @minat[0] %></td>
          <td><%= '%.3g' % @minat[1] %></td>
          <td><%= '%.3g' % @minat[2] %></td>
          <td><%= '%.3g' % @minat[3] %></td>
          
          </tr>
        <tr>
        <th>Teknik Mekanik</th>
          <th>Hitungan</th>
          <th>Kepustakaan</th>
          <th>Ilmiah Sain</th>
        </tr>
        <tr>
          <td><%= '%.3g' % @minat[4] %></td>
          <td><%= '%.3g' % @minat[5] %></td>
          <td><%= '%.3g' % @minat[6] %></td>
          <td><%= '%.3g' % @minat[7] %></td>
          
        </tr>
      </table>
    