<table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">

  <thead>
    <tr>
      <th>ID</th>
      <th>Nama lengkap</th>      
      <th>Minat kecabangan</th>
      
      <th>Rekomendasi</th>
      <th>Tahun Anggaran</th>
      <th>Aksi</th>
    </tr>
  </thead>

  <tbody>
    <% @siswas.each_with_index do |siswa, i| %>
      <tr class="<%= i.odd? ? 'odd' : 'even'%>">
        <td><%= siswa.id_csiswa %></td>
        <td><%= siswa.nama_lengkap %></td>
        <td><%= siswa.minat_kec %></td>
        
        <td><%= siswa.rekomendasi_kecabangan %></td>
        <td><%= siswa.tgl_pendaftaran.strftime("%d-%m-%Y") %></td>
        <td>
        <% if current_user.level.eql?(1) %>
        <%= link_to 'Psikotes', psikotest_siswa_path(siswa), class: "btn btn-default btn-sm" %>
        <% end %>
        <%= link_to 'Lihat', siswa, class: "btn btn-default btn-sm" %>
        <% if current_user.level.eql?(1) %>
        <%= link_to 'Edit', edit_siswa_path(siswa), class: "btn btn-info btn-sm" %>
        <% end %>
        <%= link_to 'Laporan', laporan_siswa_path(siswa), class: "btn btn-primary btn-sm" %>
        <% if current_user.level.eql?(1) %>
        <%= link_to "<i class='fa fa-ban'></i>".html_safe, siswa, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


                </div>
                <!-- /.col-lg-12 -->
            </div>

    