<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  
  <title>SISTEM PENDUKUNG KEPUTUSAN PENEMPATAN KECABANGAN TNI AD</title>

  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link href="/assets/print.css" rel="stylesheet" media="print">
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="wrapper">

    <div id="page-wrapper" >
      <div class="col-sm-12">

        <img src="https://scontent-lga3-1.cdninstagram.com/t51.2885-15/e35/18514068_1368599536519015_2340271063331504128_n.jpg" class="img-rounded" width="80px" height="80px" style="float: left;margin-right: 10px">
        <h4 style="padding-top: 30px;">SISTEM PENDUKUNG KEPUTUSAN PENEMPATAN KECABANGAN TNI AD</h4>
      </div>
      <div class="clearfix"></div>
      <br>
      <h4> Data Siswa </h4>
      <table class="table borderless">
        <tr>
          <th>
            ID Calon Siswa
          </th>
          <td>
            <%= text_field_tag "field", @siswa.id_csiswa, class: "form-control input-sm" %>
          </td>
          <th>
            Minat Kecabangan
          </th>
          <td>
            <%= text_field_tag "field", @siswa.minat_kec, class: "form-control input-sm" %>
          </td>
        </tr>
        <tr>
          <th>
            Nama Lengkap
          </th>
          <td>
            <%= text_field_tag "field", @siswa.nama_lengkap, class: "form-control input-sm" %>
          </td>
          <th>
            Rekomendasi Kecabangan
          </th>
          <td>
            <%= text_field_tag "field", @siswa.rekomendasi_kecabangan, class: "form-control input-sm" %>
          </td>
        </tr>
        <tr>
          <th>
            Tempat Lahir
          </th>
          <td>
            <%= text_field_tag "field", @siswa.tempat_lahir, class: "form-control input-sm" %>
          </td>
          <th>
            Tanggal Lahir
          </th>
          <td>
            <%= text_field_tag "field", @siswa.tanggal_lahir.strftime("%d-%m-%Y"), class: "form-control input-sm" %>
          </td>
        </tr>  
        <tr>
          <th>
            Tinggi Badan
          </th>
          <td>
            <%= text_field_tag "field", @siswa.tg_badan, class: "form-control input-sm" %>
          </td>
          <th>
            Berat Badan
          </th>
          <td>
            <%= text_field_tag "field", @siswa.b_badan, class: "form-control input-sm" %>
          </td>
        </tr>  
        <tr>
          <th>
            Usia
          </th>
          <td>
            <%= text_field_tag "field", @siswa.usia, class: "form-control input-sm" %>
          </td>
          <th>

          </th>
          <td>

          </td>
        </tr>  
        <tr>
          <th>
            Agama
          </th>
          <td>
            <%= text_field_tag "field", @siswa.agama, class: "form-control input-sm" %>
          </td>
          <th>

          </th>
          <td>

          </td>
        </tr>  
        <tr>
          <th>
            Riwayat Pendidikan
          </th>
          <td>
            <%= text_field_tag "field", @siswa.pendidikan, class: "form-control input-sm" %>
          </td>
          <th>

          </th>
          <td>

          </td>
        </tr>  
      </table>

      <h4> Kecerdasan </h4>

      <table class="table table-bordered table-stripped table-custom">
        <tr>
          <th>Pemahaman</th>
          <th>Mengingat</th>
          <th>Analisa</th>
          <th>Konstruktif</th>
          </tr>
        <tr>
          <td><%= @siswa.kecerdasan.pemahaman %></td>
          <td><%= @siswa.kecerdasan.mengingat %></td>
          <td><%= @siswa.kecerdasan.analisa %></td>
          <td><%= @siswa.kecerdasan.konstruktif %></td>
          </tr>
        <tr>
        <th>Mengolah Angka</th>
          <th>Aritmatika</th>
          <th>Orientasi Ruang</th>
          <th>Verbal</th>
        </tr>
        <tr>  
        <td><%= @siswa.kecerdasan.mengolah_angka %></td>
          <td><%= @siswa.kecerdasan.aritmatika %></td>
          <td><%= @siswa.kecerdasan.orientasi_ruang %></td>
          <td><%= @siswa.kecerdasan.verbal %></td>
        </tr>
        <tr>
        <th>Estimasi</th>
          <th>Tehnik Mekanik</th>
          <th>Tehnik Elektronik</th>
          <th>Wawasan</th>
        </tr>

          
          
          
        <tr>  
          <td><%= @siswa.kecerdasan.estimasi %></td>
          <td><%= @siswa.kecerdasan.tehnik_mekanik %></td>
          <td><%= @siswa.kecerdasan.tehnik_elektronik %></td>
          <td><%= @siswa.kecerdasan.wawasan %></td>
        </tr>
      </table>

      <h3>Sikap Kerja</h3>
      <table class="table table-bordered table-stripped">
        <tr>
          <th>Inisiatif</th>
          <th>Kreatif</th>
          <th>Perencanaan</th>
          <th>Energi</th>
          
          </tr>
        <tr>
          <td><%= @siswa.sikap_kerja.inisiatif %></td>
          <td><%= @siswa.sikap_kerja.kreatif %></td>
          <td><%= @siswa.sikap_kerja.perencanaan %></td>
          <td><%= @siswa.sikap_kerja.energi %></td>
          
          </tr>
        <tr>
          <th>Kecepatan</th>
          <th>Ketelitian</th>
          <th>Ketekunan</th>
          <th>Keuletan</th>
           
        </tr>
        <tr>  
          <td><%= @siswa.sikap_kerja.kecepatan %></td>
          <td><%= @siswa.sikap_kerja.ketelitian %></td>
          <td><%= @siswa.sikap_kerja.ketekunan %></td>
          <td><%= @siswa.sikap_kerja.keuletan %></td>
          
        </tr>
        <tr>
          <th>Konsentrasi</th>   
          <th>Daya Tahan</th>
          <th>Kepemimpinan</th>
          <th>Kerjasama</th>
        </tr>
          
        <tr>  
          <td><%= @siswa.sikap_kerja.konsentrasi %></td>
          <td><%= @siswa.sikap_kerja.daya_tahan %></td>
          <td><%= @siswa.sikap_kerja.kepemimpinan %></td>
          <td><%= @siswa.sikap_kerja.kerjasama %></td>
        </tr>
        <tr>
          <th colspan="2">Toleransi Terhadap Stress</th>
        </tr>
          
        <tr>  
          <td  colspan="2"><%= @siswa.sikap_kerja.toleransi_terhadap_stress %></td>
        </tr>

      </table>

      <h3>Kehidupan Perasaan</h3>
      <table class="table table-bordered table-stripped">
        <tr>
          <th>Kepekaan</th>
          <th>Penempatan Diri</th>
          <th>Kepercayaan Diri</th>
          <th>Kemandirian</th>
          </tr>
        <tr>
          <td><%= @siswa.kehidupan_perasaan.kepekaan %></td>
          <td><%= @siswa.kehidupan_perasaan.penempatan_diri %></td>
          <td><%= @siswa.kehidupan_perasaan.kepercayaan_diri %></td>
          <td><%= @siswa.kehidupan_perasaan.kemandirian  %></td>
          </tr>
        <tr>
          <th>Persuasif</th>
          <th>Agresivitas</th>
          <th>Pengelolaan Dorongan</th>
          <th>Pengelolaan Emosi</th>
        </tr>
        <tr>    
          <td><%= @siswa.kehidupan_perasaan.persuasif %></td>
          <td><%= @siswa.kehidupan_perasaan.agresivitas %></td>
          <td><%= @siswa.kehidupan_perasaan.pengelolaan_dorongan %></td>
          <td><%= @siswa.kehidupan_perasaan.pengelolaan_emosi %></td>
        </tr>  
      </table>

      <h3>Minat</h3>
      <table class="table table-bordered table-stripped">
        <tr>
          <th>Alam Terbuka</th>
          <th>Seni</th>
          <th>Pelayanan Sosial</th>
          <th>Klerical</th>
          </tr>
        <tr>
          <td><%= @siswa.minat.alam_terbuka %></td>
          <td><%= @siswa.minat.seni %></td>
          <td><%= @siswa.minat.pelayanan_sosial %></td>
          <td><%= @siswa.minat.klerical %></td>
          </tr>
        <tr>
        <th>Teknik Mekanik</th>
          <th>Hitungan</th>
          <th>Kepustakaan</th>
          <th>Ilmiah Sain</th>
        </tr>
        <tr>
      <td><%= @siswa.minat.teknik_mekanik %></td>
          <td><%= @siswa.minat.hitungan %></td>
          <td><%= @siswa.minat.kepustakaan %></td>
          <td><%= @siswa.minat.ilmiah_sain %></td>
        </tr>
      </table>
    </div>
    <br><br><br>
    <div style="float: right">
      <p>Bandung, <%= Date.today.strftime("%d-%m-%Y") %></p>
      <p>Kalasiappsi</p>
      <br>
      <br>
      <br>
      <br>
      <p>Kolonel(CAJ) Drs. Gunawan, DESS</p>
    </div>
    <!-- /#page-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- jQuery -->

</body>

</html>