<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  
  <title>SISTEM PENDUKUNG KEPUTUSAN PENEMPATAN KECABANGAN TNI AD</title>

  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link href="/assets/print.css" rel="stylesheet" media="print">
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="wrapper">

    <div id="page-wrapper" >
      <div class="col-sm-12">

        <img src="https://scontent-lga3-1.cdninstagram.com/t51.2885-15/e35/18514068_1368599536519015_2340271063331504128_n.jpg" class="img-rounded" width="80px" height="80px" style="float: left;margin-right: 10px">
        <h4 style="padding-top: 30px;">SISTEM PENDUKUNG KEPUTUSAN PENEMPATAN KECABANGAN TNI AD</h4>
      </div>
      <div class="clearfix"></div>
      <br>
      <h4> Data Siswa </h4>
      <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">

        <thead>
          <tr>
            <th>ID</th>
            <th>Nama lengkap</th>      
            <th>Minat kecabangan</th>            
            <th>Rekomendasi Pencabangan</th>            
          </tr>
        </thead>

        <tbody>
          <% @siswas.each_with_index do |siswa, i| %>
            <tr class="<%= i.odd? ? 'odd' : 'even'%>">
              <td><%= siswa.id_csiswa %></td>
              <td><%= siswa.nama_lengkap %></td>
              <td><%= siswa.minat_kec %></td>
              <td><%= siswa.rekomendasi_kecabangan %></td>
              
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
    <br><br><br>
    <div style="float: right">
      <p>Bandung, <%= Date.today.strftime("%d-%m-%Y") %></p>
      <p>Kalasiappsi</p>
      <br>
      <br>
      <br>
      <br>
      <p>Kolonel(CAJ) Drs. Gunawan, DESS</p>
    </div>
    <!-- /#page-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- jQuery -->

</body>

</html>