<table class="table table-bordered table-stripped">
    <tr>
      <th>ID Siswa</th>
      <th>Nama</th>
      <th>Rekomendasi Pencabangan</th>
      <th>Kecerdasan</th>
      <th>Sikap Kerja</th>
      <th>Kehidupan Perasaan</th>
      <th>Minat</th>
    </tr>
    <tr>
      <td rowspan="15"><%= @siswa.id %></td>
      <td rowspan="15"><%= @siswa.nama_lengkap %></td>
      <td>INF</td>
      <td><%= @siswa.kecerdasan.nilai("INF") %></td>
      <td><%= @siswa.sikap_kerja.nilai("INF") %></td>
      <td><%= @siswa.kehidupan_perasaan.nilai("INF") %></td>
      <td><%= @siswa.minat.nilai("INF") %></td>
    </tr>
    <tr>
      <td>KAV</td>
      <td><%= @siswa.kecerdasan.nilai("KAV") %></td>
      <td><%= @siswa.sikap_kerja.nilai("KAV") %></td>
      <td><%= @siswa.kehidupan_perasaan.nilai("KAV") %></td>
      <td><%= @siswa.minat.nilai("KAV") %></td>
    </tr>
    <tr>
      <td>ARM</td>
      <td><%= @siswa.kecerdasan.nilai("ARM") %></td>
      <td><%= @siswa.sikap_kerja.nilai("ARM") %></td>
      <td><%= @siswa.kehidupan_perasaan.nilai("ARM") %></td>
      <td><%= @siswa.minat.nilai("ARM") %></td>
    </tr>
    <tr>
      <td>ARH</td>
      <td><%= @siswa.kecerdasan.nilai("ARH") %></td>
      <td><%= @siswa.sikap_kerja.nilai("ARH") %></td>
      <td><%= @siswa.kehidupan_perasaan.nilai("ARH") %></td>
      <td><%= @siswa.minat.nilai("ARH") %></td>
    </tr>
    <tr>
      <td>ZENI</td>
      <td><%= @siswa.kecerdasan.nilai("ZENI") %></td>
      <td><%= @siswa.sikap_kerja.nilai("ZENI") %></td>
      <td><%= @siswa.kehidupan_perasaan.nilai("ZENI") %></td>
      <td><%= @siswa.minat.nilai("ZENI") %></td>
    </tr>
    <tr>
      <td>PENERBAD</td>
      <td><%= @siswa.kecerdasan.nilai("PENERBAD") %></td>
      <td><%= @siswa.sikap_kerja.nilai("PENERBAD") %></td>
      <td><%= @siswa.kehidupan_perasaan.nilai("PENERBAD") %></td>
      <td><%= @siswa.minat.nilai("PENERBAD") %></td>
    </tr>
    <tr>
      <td>CHB</td>
      <td><%= @siswa.kecerdasan.nilai("CHB") %></td>
      <td><%= @siswa.sikap_kerja.nilai("CHB") %></td>
      <td><%= @siswa.kehidupan_perasaan.nilai("CHB") %></td>
      <td><%= @siswa.minat.nilai("CHB") %></td>
    </tr>
    <tr>
      <td>PAL</td>
      <td><%= @siswa.kecerdasan.nilai("PAL") %></td>
      <td><%= @siswa.sikap_kerja.nilai("PAL") %></td>
      <td><%= @siswa.kehidupan_perasaan.nilai("PAL") %></td>
      <td><%= @siswa.minat.nilai("PAL") %></td>
    </tr>
    <tr>
      <td>CTP</td>
      <td><%= @siswa.kecerdasan.nilai("CTP") %></td>
      <td><%= @siswa.sikap_kerja.nilai("CTP") %></td>
      <td><%= @siswa.kehidupan_perasaan.nilai("CTP") %></td>
      <td><%= @siswa.minat.nilai("CTP") %></td>
    </tr>
    <tr>
      <td>CBA</td>
      <td><%= @siswa.kecerdasan.nilai("CBA") %></td>
      <td><%= @siswa.sikap_kerja.nilai("CBA") %></td>
      <td><%= @siswa.kehidupan_perasaan.nilai("CBA") %></td>
      <td><%= @siswa.minat.nilai("CBA") %></td>
    </tr>
    <tr>
      <td>CPM</td>
      <td><%= @siswa.kecerdasan.nilai("CPM") %></td>
      <td><%= @siswa.sikap_kerja.nilai("CPM") %></td>
      <td><%= @siswa.kehidupan_perasaan.nilai("CPM") %></td>
      <td><%= @siswa.minat.nilai("CPM") %></td>
    </tr>
    <tr>
      <td>CKU</td>
      <td><%= @siswa.kecerdasan.nilai("CKU") %></td>
      <td><%= @siswa.sikap_kerja.nilai("CKU") %></td>
      <td><%= @siswa.kehidupan_perasaan.nilai("CKU") %></td>
      <td><%= @siswa.minat.nilai("CKU") %></td>
    </tr>
    <tr>
      <td>CKM</td>
      <td><%= @siswa.kecerdasan.nilai("CKM") %></td>
      <td><%= @siswa.sikap_kerja.nilai("CKM") %></td>
      <td><%= @siswa.kehidupan_perasaan.nilai("CKM") %></td>
      <td><%= @siswa.minat.nilai("CKM") %></td>
    </tr>
    <tr>
      <td>CHK</td>
      <td><%= @siswa.kecerdasan.nilai("CHK") %></td>
      <td><%= @siswa.sikap_kerja.nilai("CHK") %></td>
      <td><%= @siswa.kehidupan_perasaan.nilai("CHK") %></td>
      <td><%= @siswa.minat.nilai("CHK") %></td>
    </tr>
    <tr>
      <td>CAJ</td>
      <td><%= @siswa.kecerdasan.nilai("CAJ") %></td>
      <td><%= @siswa.sikap_kerja.nilai("CAJ") %></td>
      <td><%= @siswa.kehidupan_perasaan.nilai("CAJ") %></td>
      <td><%= @siswa.minat.nilai("CAJ") %></td>
    </tr>
  </table>