<%= form_for(@siswa) do |field| %>
    <%= field.fields_for :kecerdasan do |f| %>
      <h3>Kecerdasan</h3>
      <table class="table table-bordered table-stripped">
        <tr>
          <th>Pemahaman</th>
          <th>Mengingat</th>
          <th>Analisa</th>
          <th>Konstruktif</th>
          </tr>
        <tr>
          <td>
            <%= f.number_field :pemahaman, min: 0, max: 137, required: true %>
            <span>* Nilai 0 - 137</span>
          </td>
          <td>
            <%= f.number_field :mengingat, min: 0, max: 123, required: true %>
              <span>* Nilai 0 - 123</span>
            </td>
          <td>
            <%= f.number_field :analisa, min: 0, max: 129, required: true %>
              <span>* Nilai 0 - 129</span>
            </td>
          <td>
            <%= f.number_field :konstruktif, min: 0, max: 132, required: true %>
              <span>* Nilai 0 - 132</span>
            </td>
          </tr>
        <tr>
        <th>Mengolah Angka</th>
          <th>Aritmatika</th>
          <th>Orientasi Ruang</th>
          <th>Verbal</th>
        </tr>
        <tr>  
          <td>
            <%= f.number_field :mengolah_angka, min: 0, max: 132, required: true %>
              <span>* Nilai 0 - 132</span>
            </td>
          <td>
            <%= f.number_field :aritmatika, min: 0, max: 132, required: true %>
              <span>* Nilai 0 - 132</span>
            </td>
          <td>
            <%= f.number_field :orientasi_ruang, min: 0, max: 132, required: true %>
              <span>* Nilai 0 - 132</span>
            </td>
          <td>
            <%= f.number_field :verbal, min: 0, max: 137, required: true %>
            <span>* Nilai 0 - 137</span>              
            </td>
        </tr>
        <tr>
        <th>Estimasi</th>
          <th>Tehnik Mekanik</th>
          <th>Tehnik Elektronik</th>
          <th>Wawasan</th>
        </tr>
        <tr>  
          <td>
            <%= f.number_field :estimasi, min: 0, max: 127, required: true %>
              <span>* Nilai 0 - 127</span>
            </td>
          <td>
            <%= f.number_field :tehnik_mekanik, min: 0, max: 68, required: true %>
              <span>* Nilai 0 - 68</span>
            </td>
          <td>
            <%= f.number_field :tehnik_elektronik, min: 0, max: 68, required: true %>
              <span>* Nilai 0 - 68</span>
            </td>
          <td>
            <%= f.number_field :wawasan, min: 0, max: 130, required: true %>
              <span>* Nilai 0 - 130</span>
            </td>
        </tr>
      </table>
      
    <% end %>
    <%= field.fields_for :sikap_kerja do |f| %>
      <h3>Sikap Kerja</h3>
      <table class="table table-bordered table-stripped">
        <tr>
          <th>Inisiatif</th>
          <th>Kreatif</th>
          <th>Perencanaan</th>
          <th>Energi</th>
          
          </tr>
        <tr>
          <td>
            <%= f.number_field :inisiatif, min: 0, max: 9 , required: true%>
              <span>* Nilai 0 - 9</span>
            </td>
          <td>
            <%= f.number_field :kreatif, min: 0, max: 9, required: true %>
              <span>* Nilai 0 - 9</span>
            </td>
          <td>
            <%= f.number_field :perencanaan, min: 0, max: 3983, required: true %>
              <span>* Nilai 0 - 3983</span>
            </td>
          <td>
            <%= f.number_field :energi, min: 0, max: 3983, required: true %>
              <span>* Nilai 0 - 3983</span>
            </td>
          
          </tr>
        <tr>
          <th>Kecepatan</th>
          <th>Ketelitian</th>
          <th>Ketekunan</th>
          <th>Keuletan</th>
           
        </tr>
        <tr>  
          <td><%= f.number_field :kecepatan, min: 0, max: 3983, required: true %><span>* Nilai 0 - 3983</span></td>
          <td><%= f.number_field :ketelitian, min: 0, max: 3983, required: true %><span>* Nilai 0 - 3983</span></td>
          <td><%= f.number_field :ketekunan, min: 0, max: 3983, required: true %><span>* Nilai 0 - 3983</span></td>
          <td><%= f.number_field :keuletan, min: 0, max: 3983, required: true %><span>* Nilai 0 - 3983</span></td>
          
        </tr>
        <tr>
          <th>Konsentrasi</th>   
          <th>Daya Tahan</th>
          <th>Kepemimpinan</th>
          <th>Kerjasama</th>
        </tr>
          
        <tr>  
          <td><%= f.number_field :konsentrasi, min: 0, max: 3983, required: true %><span>* Nilai 0 - 3983</span></td>
          <td><%= f.number_field :daya_tahan, min: 0, max: 3983, required: true %><span>* Nilai 0 - 3983</span></td>
          <td><%= f.number_field :kepemimpinan , min: 0, max: 9, required: true %><span>* Nilai 0 - 9</span></td>
          <td><%= f.number_field :kerjasama , min: 0, max: 9, required: true %><span>* Nilai 0 - 9</span></td>
        </tr>
        <tr>
          <th colspan="4">Toleransi Terhadap Stress</th>
        </tr>
          
        <tr>  
          <td  colspan="4"><%= f.number_field :toleransi_terhadap_stress, min: 0, max: 3983, required: true %><br><span>* Nilai 0 - 3983</span></td>
        </tr>

      </table>
    <% end %>

    <%= field.fields_for :kehidupan_perasaan do |f| %>
      <h3>Kehidupan Perasaan</h3>
      <table class="table table-bordered table-stripped">
        <tr>
          <th>Kepekaan</th>
          <th>Penempatan Diri</th>
          <th>Kepercayaan Diri</th>
          <th>Kemandirian</th>
          </tr>
        <tr>
          <td><%= f.number_field :kepekaan, min: 1, max: 5, required: true %><span>* Nilai 1 - 5</span></td>
          <td><%= f.number_field :penempatan_diri, min: 1, max: 5, required: true %><span>* Nilai 1 - 5</span></td>
          <td><%= f.number_field :kepercayaan_diri , min: 1, max: 5, required: true %><span>* Nilai 1 - 5</span></td>
          <td><%= f.number_field :kemandirian, min: 1, max: 5, required: true %><span>* Nilai 1 - 5</span></td>
          </tr>
        <tr>
          <th>Persuasif</th>
          <th>Agresivitas</th>
          <th>Pengelolaan Dorongan</th>
          <th>Pengelolaan Emosi</th>
        </tr>
        <tr>    
          <td><%= f.number_field :persuasif, min: 1, max: 5, required: true %><span>* Nilai 1 - 5</span></td>
          <td><%= f.number_field :agresivitas, min: 1, max: 5, required: true %><span>* Nilai 1 - 5</span></td>
          <td><%= f.number_field :pengelolaan_dorongan, min: 1, max: 5, required: true %><span>* Nilai 1 - 5</span></td>
          <td><%= f.number_field :pengelolaan_emosi, min: 1, max: 5, required: true %><span>* Nilai 1 - 5</span></td>
        </tr>  
      </table>
    <% end %>
    <%= field.fields_for :minat do |f| %>
      <h3>Minat</h3>
      <table class="table table-bordered table-stripped">
        <tr>
          <th>Alam Terbuka</th>
          <th>Seni</th>
          <th>Pelayanan Sosial</th>
          <th>Klerical</th>
          </tr>
        <tr>
          <td><%= f.number_field :alam_terbuka, min: 1, max: 5, required: true %><span>* Nilai 5 - 1</span></td>
          <td><%= f.number_field :seni, min: 1, max: 5, required: true %><span>* Nilai 5 - 1</span></td>
          <td><%= f.number_field :pelayanan_sosial, min: 1, max: 5, required: true %><span>* Nilai 5 - 1</span></td>
          <td><%= f.number_field :klerical, min: 1, max: 5, required: true %><span>* Nilai 5 - 1</span></td>
          </tr>
        <tr>
        <th>Teknik Mekanik</th>
          <th>Hitungan</th>
          <th>Kepustakaan</th>
          <th>Ilmiah Sain</th>
        </tr>
        <tr>
      <td><%= f.number_field :teknik_mekanik, min: 1, max: 5, required: true %><span>* Nilai 5 - 1</span></td>
          <td><%= f.number_field :hitungan, min: 1, max: 5, required: true %><span>* Nilai 5 - 1</span></td>
          <td><%= f.number_field :kepustakaan, min: 1, max: 5, required: true %><span>* Nilai 5 - 1</span></td>
          <td><%= f.number_field :ilmiah_sain, min: 1, max: 5, required: true %><span>* Nilai 5 - 1</span></td>
        </tr>
      </table>
    <% end %>
    <%= field.submit "Proses", class: "btn btn-primary" %>
<% end %>