<div style="float:right">
<% if current_user.level.eql?(1) %>
<%= link_to "<i class='fa fa-user-plus fa-3x'></i>".html_safe, new_siswa_path, style: "margin-right:20px" %>
<% end %>
<%= link_to "<i class='fa fa-print fa-3x'></i>".html_safe, laporan_path %>
<br>
<br>
</div>
<div style="clear: both;"></div>

<div class="psikotest-result">
  
</div>


<% content_for :bottom_assets do %>
  <style type="text/css">
    .modal-dialog.modal-sm{
      margin: 200px auto;
    }
  </style>
  <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content" style="padding: 10px;text-align: center;">
        
        <br>
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar"
          aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
            Data sedang diproses....
          </div>
        </div>
      </div>
    </div>
  </div>


  <script src="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/vendor/datatables-responsive/dataTables.responsive.js"></script>

  <script type="text/javascript">
    $("document").ready(function(){
      $('.bs-example-modal-sm').modal()
      $.ajax({
          url: "<%= request.path %>.js",
          cache: false,
          success: function(html){
            $('.bs-example-modal-sm').modal('hide')            
            $('#dataTables-example').DataTable({
                responsive: true
            });
          }
      });
    });  
  </script>
    
<% end %>

