<div class="col-sm-3 buttons">
  <%= link_to "Kelola Psikotest", psikotest_siswa_path(@siswa), class: "btn btn-primary first-btn"%>
  <div class="clearfix"></div>
  <br>
  <%= link_to "Lihat Hasil", hasil_siswa_path(@siswa), class: "btn btn-default"%>
  <div class="clearfix"></div>
  <br>
  <%= link_to "Rekomendasi Pencabangan", pencabangan_siswa_path(@siswa), class: "btn btn-default"%>
  <div class="clearfix"></div>
  
</div>

<div class="col-sm-9 psikotest-result">

</div>
<div class="clearfix"></div>
<br>


<% content_for :bottom_assets do %>
  <style type="text/css">
    .modal-dialog.modal-sm{
      margin: 200px auto;
    }
  </style>
  <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content" style="padding: 10px;text-align: center;">
        
        <br>
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar"
          aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
            Data sedang diproses....
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $("document").ready(function(){
      $('.bs-example-modal-sm').modal()
      $.ajax({
          url: "<%= request.path %>.js",
          cache: false,
          success: function(html){
            $('.bs-example-modal-sm').modal('hide')            
          }
      });
    });  
  </script>
<% end %>