
<div class="cols-md-12">
<%= form_for(@sikap_kerja) do |f| %>
<table class="table table-bordered table-stripped">
  <tr>
    <th>Inisiatif</th>
    <th>Kreatif</th>
    <th>Perencanaan</th>
    <th>Energi</th>
    
    </tr>
  <tr>
    <td><%= f.number_field :inisiatif %></td>
    <td><%= f.number_field :kreatif %></td>
    <td><%= f.number_field :perencanaan %></td>
    <td><%= f.number_field :energi %></td>
    
    </tr>
  <tr>
    <th>Kecepatan</th>
    <th>Ketelitian</th>
    <th>Ketekunan</th>
    <th>Keuletan</th>
     
  </tr>
  <tr>  
    <td><%= f.number_field :kecepatan %></td>
    <td><%= f.number_field :ketelitian %></td>
    <td><%= f.number_field :ketekunan %></td>
    <td><%= f.number_field :keuletan %></td>
    
  </tr>
  <tr>
    <th>Konsentrasi</th>   
    <th>Daya Tahan</th>
    <th>Kepemimpinan</th>
    <th>Kerjasama</th>
  </tr>
    
  <tr>  
    <td><%= f.number_field :konsentrasi %></td>
    <td><%= f.number_field :daya_tahan %></td>
    <td><%= f.number_field :kepemimpinan %></td>
    <td><%= f.number_field :kerjasama %></td>
  </tr>
  <tr>
    <th colspan="2">Toleransi Terhadap Stress</th>
  </tr>
    
  <tr>  
    <td  colspan="2"><%= f.number_field :toleransi_terhadap_stress %></td>
  </tr>

</table>
<%= f.submit "Proses", class: "btn btn-primary" %>
<% end %>

</div>
<h3>Hasil</h3>
<div class="cols-md-12">
<%= form_for(@sikap_kerja) do |f| %>
<table class="table table-bordered table-stripped">
  <tr>
    <th>Inisiatif</th>
    <th>Kreatif</th>
    <th>Perencanaan</th>
    <th>Energi</th>
    
    </tr>
  <tr>
    <td><%= f.number_field :inisiatif %></td>
    <td><%= f.number_field :kreatif %></td>
    <td><%= f.number_field :perencanaan %></td>
    <td><%= f.number_field :energi %></td>
    
    </tr>
  <tr>
    <th>Kecepatan</th>
    <th>Ketelitian</th>
    <th>Ketekunan</th>
    <th>Keuletan</th>
     
  </tr>
  <tr>  
    <td><%= f.number_field :kecepatan %></td>
    <td><%= f.number_field :ketelitian %></td>
    <td><%= f.number_field :ketekunan %></td>
    <td><%= f.number_field :keuletan %></td>
    
  </tr>
  <tr>
    <th>Konsentrasi</th>   
    <th>Daya Tahan</th>
    <th>Kepemimpinan</th>
    <th>Kerjasama</th>
  </tr>
    
  <tr>  
    <td><%= f.number_field :konsentrasi %></td>
    <td><%= f.number_field :daya_tahan %></td>
    <td><%= f.number_field :kepemimpinan %></td>
    <td><%= f.number_field :kerjasama %></td>
  </tr>
  <tr>
    <th colspan="2">Toleransi Terhadap Stress</th>
  </tr>
    
  <tr>  
    <td  colspan="2"><%= f.number_field :toleransi_terhadap_stress %></td>
  </tr>
    
  <tr>  
    <td><%= f.number_field :toleransi_terhadap_stress %></td>
  </tr>

</table>
<% end %>

</div>