<h1>Listing sikap_kerjas</h1>

<table>
  <thead>
    <tr>
      <th>Inisiatif</th>
      <th>Kreatif</th>
      <th>Perencanaan</th>
      <th>Energi</th>
      <th>Konsentrasi</th>
      <th>Kecepatan</th>
      <th>Ketelitian</th>
      <th>Ketekunan</th>
      <th>Keuletan</th>
      <th>Daya tahan</th>
      <th>Kepemimpinan</th>
      <th>Kerjasama</th>
      <th>Toleransi terhadap stress</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sikap_kerjas.each do |sikap_kerja| %>
      <tr>
        <td><%= sikap_kerja.inisiatif %></td>
        <td><%= sikap_kerja.kreatif %></td>
        <td><%= sikap_kerja.perencanaan %></td>
        <td><%= sikap_kerja.energi %></td>
        <td><%= sikap_kerja.konsentrasi %></td>
        <td><%= sikap_kerja.kecepatan %></td>
        <td><%= sikap_kerja.ketelitian %></td>
        <td><%= sikap_kerja.ketekunan %></td>
        <td><%= sikap_kerja.keuletan %></td>
        <td><%= sikap_kerja.daya_tahan %></td>
        <td><%= sikap_kerja.kepemimpinan %></td>
        <td><%= sikap_kerja.kerjasama %></td>
        <td><%= sikap_kerja.toleransi_terhadap_stress %></td>
        <td><%= link_to 'Show', sikap_kerja %></td>
        <td><%= link_to 'Edit', edit_sikap_kerja_path(sikap_kerja) %></td>
        <td><%= link_to 'Destroy', sikap_kerja, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sikap kerja', new_sikap_kerja_path %>
