<p id="notice"><%= notice %></p>

<p>
  <strong>Inisiatif:</strong>
  <%= @sikap_kerja.inisiatif %>
</p>

<p>
  <strong>Kreatif:</strong>
  <%= @sikap_kerja.kreatif %>
</p>

<p>
  <strong>Perencanaan:</strong>
  <%= @sikap_kerja.perencanaan %>
</p>

<p>
  <strong>Energi:</strong>
  <%= @sikap_kerja.energi %>
</p>

<p>
  <strong>Konsentrasi:</strong>
  <%= @sikap_kerja.konsentrasi %>
</p>

<p>
  <strong>Kecepatan:</strong>
  <%= @sikap_kerja.kecepatan %>
</p>

<p>
  <strong>Ketelitian:</strong>
  <%= @sikap_kerja.ketelitian %>
</p>

<p>
  <strong>Ketekunan:</strong>
  <%= @sikap_kerja.ketekunan %>
</p>

<p>
  <strong>Keuletan:</strong>
  <%= @sikap_kerja.keuletan %>
</p>

<p>
  <strong>Daya tahan:</strong>
  <%= @sikap_kerja.daya_tahan %>
</p>

<p>
  <strong>Kepemimpinan:</strong>
  <%= @sikap_kerja.kepemimpinan %>
</p>

<p>
  <strong>Kerjasama:</strong>
  <%= @sikap_kerja.kerjasama %>
</p>

<p>
  <strong>Toleransi terhadap stress:</strong>
  <%= @sikap_kerja.toleransi_terhadap_stress %>
</p>

<%= link_to 'Edit', edit_sikap_kerja_path(@sikap_kerja) %> |
<%= link_to 'Back', sikap_kerjas_path %>
