
<div class="cols-md-12">
<%= form_for(@kecerdasan) do |f| %>
<table class="table table-bordered table-stripped">
  <tr>
    <th>Pemahaman</th>
    <th>Mengingat</th>
    <th>Analisa</th>
    <th>Konstruktif</th>
    </tr>
  <tr>
    <td><%= f.number_field :pemahaman %></td>
    <td><%= f.number_field :mengingat %></td>
    <td><%= f.number_field :analisa %></td>
    <td><%= f.number_field :konstruktif %></td>
    </tr>
  <tr>
  <th>Mengolah Angka</th>
    <th>Aritmatika</th>
    <th>Orientasi Ruang</th>
    <th>Verbal</th>
  </tr>
  <tr>  
  <td><%= f.number_field :mengolah_angka %></td>
    <td><%= f.number_field :aritmatika %></td>
    <td><%= f.number_field :orientasi_ruang %></td>
    <td><%= f.number_field :verbal %></td>
  </tr>
  <tr>
  <th>Estimasi</th>
    <th>Tehnik Mekanik</th>
    <th>Tehnik Elektronik</th>
    <th>Wawasan</th>
  </tr>

    
    
    
  <tr>  
    <td><%= f.number_field :estimasi %></td>
    <td><%= f.number_field :tehnik_mekanik %></td>
    <td><%= f.number_field :tehnik_elektronik %></td>
    <td><%= f.number_field :wawasan %></td>
  </tr>
</table>
<%= f.submit "Proses", class: "btn btn-primary" %>
<% end %>

</div>

<h3>Hasil</h3>
<div class="cols-md-12">
<%= form_for(@kecerdasan) do |f| %>
<table class="table table-bordered table-stripped">
    <tr>
    <th>Pemahaman</th>
    <th>Mengingat</th>
    <th>Analisa</th>
    <th>Konstruktif</th>
    </tr>
  <tr>

    <td><%= range_of_value(@kecerdasan.pemahaman) %></td>
    <td><%= range_of_value(@kecerdasan.mengingat) %></td>
    <td><%= range_of_value(@kecerdasan.analisa) %></td>
    <td><%= range_of_value(@kecerdasan.konstruktif) %></td>
    </tr>
  <tr>
  <th>Mengolah Angka</th>
    <th>Aritmatika</th>
    <th>Orientasi Ruang</th>
    <th>Verbal</th>
  </tr>
  <tr>  
  <td><%= range_of_value(@kecerdasan.mengolah_angka) %></td>
    <td><%= range_of_value(@kecerdasan.aritmatika) %></td>
    <td><%= range_of_value(@kecerdasan.orientasi_ruang) %></td>
    <td><%= range_of_value(@kecerdasan.verbal) %></td>
  </tr>
  <tr>
  <th>Estimasi</th>
    <th>Tehnik Mekanik</th>
    <th>Tehnik Elektronik</th>
    <th>Wawasan</th>
  </tr>

    
    
    
  <tr>  
    <td><%= range_of_value(@kecerdasan.estimasi) %></td>
    <td><%= range_of_value(@kecerdasan.tehnik_mekanik) %></td>
    <td><%= range_of_value(@kecerdasan.tehnik_elektronik) %></td>
    <td><%= range_of_value(@kecerdasan.wawasan) %></td>
  </tr>
</table>

<% end %>

</div>
