<h1>Listing kecerdasans</h1>

<table>
  <thead>
    <tr>
      <th>Pemahaman</th>
      <th>Mengingat</th>
      <th>Analisa</th>
      <th>Konstruktif</th>
      <th>Mengolah angka</th>
      <th>Aritmatika</th>
      <th>Orientasi ruang</th>
      <th>Verbal</th>
      <th>Estimasi</th>
      <th>Tehnik mekanik</th>
      <th>Tehnik elektronik</th>
      <th>Wawasan</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kecerdasans.each do |kecerdasan| %>
      <tr>
        <td><%= kecerdasan.pemahaman %></td>
        <td><%= kecerdasan.mengingat %></td>
        <td><%= kecerdasan.analisa %></td>
        <td><%= kecerdasan.konstruktif %></td>
        <td><%= kecerdasan.mengolah_angka %></td>
        <td><%= kecerdasan.aritmatika %></td>
        <td><%= kecerdasan.orientasi_ruang %></td>
        <td><%= kecerdasan.verbal %></td>
        <td><%= kecerdasan.estimasi %></td>
        <td><%= kecerdasan.tehnik_mekanik %></td>
        <td><%= kecerdasan.tehnik_elektronik %></td>
        <td><%= kecerdasan.wawasan %></td>
        <td><%= link_to 'Show', kecerdasan %></td>
        <td><%= link_to 'Edit', edit_kecerdasan_path(kecerdasan) %></td>
        <td><%= link_to 'Destroy', kecerdasan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kecerdasan', new_kecerdasan_path %>
