<p id="notice"><%= notice %></p>

<p>
  <strong>Pemahaman:</strong>
  <%= @kecerdasan.pemahaman %>
</p>

<p>
  <strong>Mengingat:</strong>
  <%= @kecerdasan.mengingat %>
</p>

<p>
  <strong>Analisa:</strong>
  <%= @kecerdasan.analisa %>
</p>

<p>
  <strong>Konstruktif:</strong>
  <%= @kecerdasan.konstruktif %>
</p>

<p>
  <strong>Mengolah angka:</strong>
  <%= @kecerdasan.mengolah_angka %>
</p>

<p>
  <strong>Aritmatika:</strong>
  <%= @kecerdasan.aritmatika %>
</p>

<p>
  <strong>Orientasi ruang:</strong>
  <%= @kecerdasan.orientasi_ruang %>
</p>

<p>
  <strong>Verbal:</strong>
  <%= @kecerdasan.verbal %>
</p>

<p>
  <strong>Estimasi:</strong>
  <%= @kecerdasan.estimasi %>
</p>

<p>
  <strong>Tehnik mekanik:</strong>
  <%= @kecerdasan.tehnik_mekanik %>
</p>

<p>
  <strong>Tehnik elektronik:</strong>
  <%= @kecerdasan.tehnik_elektronik %>
</p>

<p>
  <strong>Wawasan:</strong>
  <%= @kecerdasan.wawasan %>
</p>

<%= link_to 'Edit', edit_kecerdasan_path(@kecerdasan) %> |
<%= link_to 'Back', kecerdasans_path %>
