<div class="cols-md-12">
<%= form_for(@minat) do |f| %>
<table class="table table-bordered table-stripped">
  <tr>
    <th>Alam Terbuka</th>
    <th>Seni</th>
    <th>Pelayanan Sosial</th>
    <th>Klerical</th>
    </tr>
  <tr>
    <td><%= f.number_field :alam_terbuka %></td>
    <td><%= f.number_field :seni %></td>
    <td><%= f.number_field :pelayanan_sosial %></td>
    <td><%= f.number_field :klerical %></td>
    </tr>
  <tr>
  <th>Teknik Mekanik</th>
    <th>Hitungan</th>
    <th>Kepustakaan</th>
    <th>Ilmiah Sain</th>
  </tr>
  <tr>
<td><%= f.number_field :teknik_mekanik %></td>
    <td><%= f.number_field :hitungan %></td>
    <td><%= f.number_field :kepustakaan %></td>
    <td><%= f.number_field :ilmiah_sain %></td>
  </tr>
</table>
<%= f.submit "Proses", class: "btn btn-primary" %>
<% end %>

</div>

<h3>Hasil</h3>
<div class="cols-md-12">
<%= form_for(@minat) do |f| %>
<table class="table table-bordered table-stripped">
  <tr>
    <th>Alam Terbuka</th>
    <th>Seni</th>
    <th>Pelayanan Sosial</th>
    <th>Klerical</th>
    </tr>
  <tr>
    <td><%= f.number_field :alam_terbuka %></td>
    <td><%= f.number_field :seni %></td>
    <td><%= f.number_field :pelayanan_sosial %></td>
    <td><%= f.number_field :klerical %></td>
    </tr>
  <tr>
  <th>Teknik Mekanik</th>
    <th>Hitungan</th>
    <th>Kepustakaan</th>
    <th>Ilmiah Sain</th>
  </tr>
  <tr>
<td><%= f.number_field :teknik_mekanik %></td>
    <td><%= f.number_field :hitungan %></td>
    <td><%= f.number_field :kepustakaan %></td>
    <td><%= f.number_field :ilmiah_sain %></td>
  </tr>
</table>
<%= f.submit "Proses", class: "btn btn-primary" %>
<% end %>

</div>