<h1>Listing minats</h1>

<table>
  <thead>
    <tr>
      <th>Alam terbuka</th>
      <th>Seni</th>
      <th>Pelayanan sosial</th>
      <th>Klerical</th>
      <th>Teknik mekanik</th>
      <th>Hitungan</th>
      <th>Kepuasan</th>
      <th>Kepustakaan</th>
      <th>Ilmiah sain</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @minats.each do |minat| %>
      <tr>
        <td><%= minat.alam_terbuka %></td>
        <td><%= minat.seni %></td>
        <td><%= minat.pelayanan_sosial %></td>
        <td><%= minat.klerical %></td>
        <td><%= minat.teknik_mekanik %></td>
        <td><%= minat.hitungan %></td>
        <td><%= minat.kepuasan %></td>
        <td><%= minat.kepustakaan %></td>
        <td><%= minat.ilmiah_sain %></td>
        <td><%= link_to 'Show', minat %></td>
        <td><%= link_to 'Edit', edit_minat_path(minat) %></td>
        <td><%= link_to 'Destroy', minat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Minat', new_minat_path %>
