<p id="notice"><%= notice %></p>

<p>
  <strong>Alam terbuka:</strong>
  <%= @minat.alam_terbuka %>
</p>

<p>
  <strong>Seni:</strong>
  <%= @minat.seni %>
</p>

<p>
  <strong>Pelayanan sosial:</strong>
  <%= @minat.pelayanan_sosial %>
</p>

<p>
  <strong>Klerical:</strong>
  <%= @minat.klerical %>
</p>

<p>
  <strong>Teknik mekanik:</strong>
  <%= @minat.teknik_mekanik %>
</p>

<p>
  <strong>Hitungan:</strong>
  <%= @minat.hitungan %>
</p>

<p>
  <strong>Kepuasan:</strong>
  <%= @minat.kepuasan %>
</p>

<p>
  <strong>Kepustakaan:</strong>
  <%= @minat.kepustakaan %>
</p>

<p>
  <strong>Ilmiah sain:</strong>
  <%= @minat.ilmiah_sain %>
</p>

<%= link_to 'Edit', edit_minat_path(@minat) %> |
<%= link_to 'Back', minats_path %>
