
<div class="cols-md-12">
<%= form_for(@kehidupan_perasaan) do |f| %>
<table class="table table-bordered table-stripped">
  <tr>
    <th>Kepekaan</th>
    <th>Penempatan Diri</th>
    <th>Kepercayaan Diri</th>
    <th>Kemandirian</th>
    </tr>
  <tr>
    <td><%= f.number_field :kepekaan %></td>
    <td><%= f.number_field :penempatan_diri %></td>
    <td><%= f.number_field :kepercayaan_diri %></td>
    <td><%= f.number_field :kemandirian %></td>
    </tr>
  <tr>
    <th>Persuasif</th>
    <th>Agresivitas</th>
    <th>Pengelolaan Dorongan</th>
    <th>Pengelolaan Emosi</th>
  </tr>
  <tr>    
    <td><%= f.number_field :persuasif %></td>
    <td><%= f.number_field :agresivitas %></td>
    <td><%= f.number_field :pengelolaan_dorongan %></td>
    <td><%= f.number_field :pengelolaan_emosi %></td>
  </tr>  
</table>
<%= f.submit "Proses", class: "btn btn-primary" %>
<% end %>

</div>

<h3>Hasil</h3>    

<div class="cols-md-12">
<%= form_for(@kehidupan_perasaan) do |f| %>
<table class="table table-bordered table-stripped">
  <tr>
    <th>Kepekaan</th>
    <th>Penempatan Diri</th>
    <th>Kepercayaan Diri</th>
    <th>Kemandirian</th>
    </tr>
  <tr>
    <td><%= f.number_field :kepekaan %></td>
    <td><%= f.number_field :penempatan_diri %></td>
    <td><%= f.number_field :kepercayaan_diri %></td>
    <td><%= f.number_field :kemandirian %></td>
    </tr>
  <tr>
    <th>Persuasif</th>
    <th>Agresivitas</th>
    <th>Pengelolaan Dorongan</th>
    <th>Pengelolaan Emosi</th>
  </tr>
  <tr>    
    <td><%= f.number_field :persuasif %></td>
    <td><%= f.number_field :agresivitas %></td>
    <td><%= f.number_field :pengelolaan_dorongan %></td>
    <td><%= f.number_field :pengelolaan_emosi %></td>
  </tr>  
</table>

<% end %>

</div>