<h1>Listing kehidupan_perasaans</h1>

<table>
  <thead>
    <tr>
      <th>Kepekaan</th>
      <th>Penempatan diri</th>
      <th>Kepercayaan diri</th>
      <th>Kemandirian</th>
      <th>Persuasif</th>
      <th>Agresivitas</th>
      <th>Pengelolaan dorongan</th>
      <th>Pengelolaan emosi</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kehidupan_perasaans.each do |kehidupan_perasaan| %>
      <tr>
        <td><%= kehidupan_perasaan.kepekaan %></td>
        <td><%= kehidupan_perasaan.penempatan_diri %></td>
        <td><%= kehidupan_perasaan.kepercayaan_diri %></td>
        <td><%= kehidupan_perasaan.kemandirian %></td>
        <td><%= kehidupan_perasaan.persuasif %></td>
        <td><%= kehidupan_perasaan.agresivitas %></td>
        <td><%= kehidupan_perasaan.pengelolaan_dorongan %></td>
        <td><%= kehidupan_perasaan.pengelolaan_emosi %></td>
        <td><%= link_to 'Show', kehidupan_perasaan %></td>
        <td><%= link_to 'Edit', edit_kehidupan_perasaan_path(kehidupan_perasaan) %></td>
        <td><%= link_to 'Destroy', kehidupan_perasaan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kehidupan perasaan', new_kehidupan_perasaan_path %>
