<p id="notice"><%= notice %></p>

<p>
  <strong>Kepekaan:</strong>
  <%= @kehidupan_perasaan.kepekaan %>
</p>

<p>
  <strong>Penempatan diri:</strong>
  <%= @kehidupan_perasaan.penempatan_diri %>
</p>

<p>
  <strong>Kepercayaan diri:</strong>
  <%= @kehidupan_perasaan.kepercayaan_diri %>
</p>

<p>
  <strong>Kemandirian:</strong>
  <%= @kehidupan_perasaan.kemandirian %>
</p>

<p>
  <strong>Persuasif:</strong>
  <%= @kehidupan_perasaan.persuasif %>
</p>

<p>
  <strong>Agresivitas:</strong>
  <%= @kehidupan_perasaan.agresivitas %>
</p>

<p>
  <strong>Pengelolaan dorongan:</strong>
  <%= @kehidupan_perasaan.pengelolaan_dorongan %>
</p>

<p>
  <strong>Pengelolaan emosi:</strong>
  <%= @kehidupan_perasaan.pengelolaan_emosi %>
</p>

<%= link_to 'Edit', edit_kehidupan_perasaan_path(@kehidupan_perasaan) %> |
<%= link_to 'Back', kehidupan_perasaans_path %>
