

   <div class="login-panel panel panel-default">

                    <div class="panel-heading">
                        <h3 class="panel-title">Silakan Login</h3>
                    </div>
                    <div class="panel-body">
                    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {role: "form", class: "form-horizontal"}) do |f| %>
                      <fieldset>
                        <div class="form-group">

                        <%= f.label :email, class: "control-label col-sm-3" %>
                            <div class="col-sm-8">
                        <%= f.email_field :email, autofocus: true, class: "form-control" %>
                        </div>
                      </div>

                        <div class="form-group">

                        <%= f.label :password, class: "control-label col-sm-3" %>
                        <div class="col-sm-8">
                        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
                        </div>
                      </div>
                      <div class="col-sm-2"></div>
                      <div class="col-sm-4">
                        <%= f.submit "Log in", class: "btn btn-success btn-block" %>
                      </div>
                      <div class="col-sm-4">
                        <%= f.submit "Cancel", class: "btn btn-block", type: 'reset' %>
                      </div>
                    <% end %>
                    </fieldset>

                    </div>
                </div>
