<%= form_for(@pembobotan) do |f| %>
  <% if @pembobotan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pembobotan.errors.count, "error") %> prohibited this pembobotan from being saved:</h2>

      <ul>
      <% @pembobotan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :aspek %><br>
    <%= f.text_field :aspek %>
  </div>
  <div class="field">
    <%= f.label :pencabangan %><br>
    <%= f.text_field :pencabangan %>
  </div>
  <div class="field">
    <%= f.label :bobot %><br>
    <%= f.number_field :bobot %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
