<h1>Listing pembobotans</h1>

<table>
  <thead>
    <tr>
      <th>Aspek</th>
      <th>Pencabangan</th>
      <th>Bobot</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pembobotans.each do |pembobotan| %>
      <tr>
        <td><%= pembobotan.aspek %></td>
        <td><%= pembobotan.pencabangan %></td>
        <td><%= pembobotan.bobot %></td>
        <td><%= link_to 'Show', pembobotan %></td>
        <td><%= link_to 'Edit', edit_pembobotan_path(pembobotan) %></td>
        <td><%= link_to 'Destroy', pembobotan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pembobotan', new_pembobotan_path %>
