<p id="notice"><%= notice %></p>

<p>
  <strong>Aspek:</strong>
  <%= @pembobotan.aspek %>
</p>

<p>
  <strong>Pencabangan:</strong>
  <%= @pembobotan.pencabangan %>
</p>

<p>
  <strong>Bobot:</strong>
  <%= @pembobotan.bobot %>
</p>

<%= link_to 'Edit', edit_pembobotan_path(@pembobotan) %> |
<%= link_to 'Back', pembobotans_path %>
